---
---

/* modify Bootstrap variables here */

$font-family-base: "Georgia" !default;

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.list-inline-item {
    margin-right: 0;
}

.list-inline-item + .list-inline-item > .bullet::before {
    content: "\2022";
}

@media print {
    html {
        font-size: 12pt;
    }

    @page {
        size: A4 portrait;
    }
}