<ul class="list-unstyled">
    <li>
        <span class="fas fa-address-card"></span>
        {{ site.data.basics.location.address }}, {{ site.data.basics.location.postalCode }} {{ site.data.basics.location.city }}
    </li>
    <li>
        <span class="fas fa-phone"></span>
        {{ site.data.basics.phone }}
    </li>
    <li>
        <span class="fas fa-envelope"></span>
        {{ site.data.basics.email }}
    </li>

    {% assign gitHubProfile = site.data.basics.profiles | where: "network", "GitHub" | first %}
    {% if gitHubProfile %}
        <li>
            <a href="{{ gitHubProfile.url }}">
                <span class="fab fa-github"></span> {{ gitHubProfile.url }}
            </a>
        </li>
    {% endif %}

    {% assign linkedInProfile = site.data.basics.profiles | where: "network", "LinkedIn" | first %}
    {% if linkedInProfile %}
        <li>
            <a href="{{ linkedInProfile.url }}">
                <span class="fab fa-linkedin"></span> {{ linkedInProfile.url }}
            </a>
        </li>
    {% endif %}
</ul>